## KNN Regression

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

In [2]:
df = pd.read_csv("homeData.csv", index_col="Id")
df.shape

(1460, 80)

In [3]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
features = ['LotArea','YearBuilt', '1stFlrSF', '2ndFlrSF','BsmtFullBath','BedroomAbvGr','TotalBsmtSF','GarageCars','SalePrice']

In [7]:
data=df[features]
data.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,BsmtFullBath,BedroomAbvGr,TotalBsmtSF,GarageCars,SalePrice
Id,,,,,,,,,
1,8450,2003,856,854,1,3,856,2,208500
2,9600,1976,1262,0,0,3,1262,2,181500
3,11250,2001,920,866,1,3,920,2,223500
4,9550,1915,961,756,1,3,756,3,140000
5,14260,2000,1145,1053,1,4,1145,3,250000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   YearBuilt     1460 non-null   int64
 2   1stFlrSF      1460 non-null   int64
 3   2ndFlrSF      1460 non-null   int64
 4   BsmtFullBath  1460 non-null   int64
 5   BedroomAbvGr  1460 non-null   int64
 6   TotalBsmtSF   1460 non-null   int64
 7   GarageCars    1460 non-null   int64
 8   SalePrice     1460 non-null   int64
dtypes: int64(9)
memory usage: 114.1 KB

In [9]:
X=data.iloc[:,:-1]
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,BsmtFullBath,BedroomAbvGr,TotalBsmtSF,GarageCars
Id,,,,,,,,
1,8450,2003,856,854,1,3,856,2
2,9600,1976,1262,0,0,3,1262,2
3,11250,2001,920,866,1,3,920,2
4,9550,1915,961,756,1,3,756,3
5,14260,2000,1145,1053,1,4,1145,3
...,...,...,...,...,...,...,...,...
1456,7917,1999,953,694,0,3,953,2
1457,13175,1978,2073,0,1,3,1542,2
1458,9042,1941,1188,1152,0,4,1152,1
1459,9717,1950,1078,0,1,2,1078,1
1460,9937,1965,1256,0,1,3,1256,1

In [10]:
y=data.iloc[:,-1]
y

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1022, 8), (438, 8), (1022,), (438,))

In [12]:
knn_Reg=KNeighborsRegressor(n_neighbors = 3)
knn_Reg.fit(X_train, y_train)

y_predicted = knn_Reg.predict(X_test)
print(pd.DataFrame({"y_predicted": y_predicted, "y_test":y_test}))

        y_predicted  y_test
Id
281   171500.000000  228500
1366  182366.666667  216000
133   160900.000000  150750
358   152433.333333  134000
439    61166.666667   90350
...             ...     ...
456   127166.666667  175500
502   177633.333333  226700
167   231300.000000  190000
1119  178000.000000  140000
605   202933.333333  221000

[438 rows x 2 columns]

## linear model
### y = coef_*x + intercept_
w1x1 + w2x2 +...+wnxn +w0
y = 
y =w.x + b

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
Linear_Reg = LinearRegression()
Linear_Reg.fit(X_train, y_train)

y_predicted = Linear_Reg.predict(X_test)
print(pd.DataFrame({"y_predicted": y_predicted, "y_test":y_test}))

        y_predicted  y_test
Id
281   221129.449283  228500
1366  212766.883288  216000
133   170640.069418  150750
358   166089.377322  134000
439    51698.557184   90350
...             ...     ...
456   165559.207657  175500
502   213599.231437  226700
167   217026.869562  190000
1119  145402.739469  140000
605   221558.107889  221000

[438 rows x 2 columns]

In [14]:
w= Linear_Reg.coef_
w

array([ 3.31280166e-01,  5.37031063e+02,  8.07176229e+01,  7.99199814e+01,
        1.16840927e+04, -9.08096803e+03,  2.91229179e+01,  2.13675067e+04])

In [15]:
w0= Linear_Reg.intercept_
w0

-1049097.4307008344

### Đánh giá lỗi

In [16]:
def MAE(y, yhat):
    return np.sum(np.abs(y-yhat))/len(y)
MAE(y_test, y_predicted)

24567.578519954553